<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="website icon" type="png" href="{{url_for('static', filename='img/logo.png')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>{{title}}</title>
</head>
<body class="{{ back_style }}">
    {% block conteudo %} {% endblock %}
    <script src="{{url_for('static', filename='JS/app.js')}}" defer></script>
    <script src="{{url_for('static', filename='JS/home.js')}}" defer></script>
</body>
</html>