/* Globais */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    letter-spacing: .4px;
}

:root{
    --verde-principal: #2bca75f0;
    --preto-botoes: #000000;
    --branco-principal: #FFFFFF;
    --branco-secundario: #EDF6FF;
    --cinza-subtitulo: #ABABAB;
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Inter', sans-serif;
    --outra-fonte: "Open Sans", sans-serif;
    --fonte-coringa: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body-background{
    background-color: var(--verde-principal);
    background-image: url('../img/background_filter.png');
    margin: 40px 0px 0 0px;
    font-size: 30px;
    min-height: 800px; 
    align-items: center;
    overflow: hidden;
}
.button {
    background-color: var(--verde-principal);
    color: var(--branco-principal);
    text-decoration: none;
    padding: 16px;
    border-radius: 15px;
    margin: 8px 0; 
    display: block;
    width: 50%; 
    text-align: center;
    box-shadow: 3px 3px 6px 0 rgb(88, 83, 83);
    font-family: var(--fonte-coringa);
    font-weight: bold;
    outline: none;
}
.button:hover{
    box-shadow: none;
}

/* index.html */
.body-intro{
    background-color: #FFFFFF !important;
}
.cor-logo{
    background-color: #2bca75f0 !important;
    width: 10em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 6px 0 rgb(88, 83, 83);
}
.titulo{
    font-family: var(--outra-fonte);
    font-weight: bold;
    font-size: 40px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}   
.animação img {
    animation: pulsar 1.5s infinite;
}
.corpo{
    display: block;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 28vh;
}
.botão{
    padding-top: 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.hidden {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
#button.show {
    opacity: 1;
    transform: scale(1);
}

/* login.html e criarconta.html*/

.goback{
    margin-left: 0.5em;
}
.div-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.login{
    font-family: var(--outra-fonte);
    font-weight: bold;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    color: var(--branco-secundario);
    margin-bottom: 3em;
}
.registre-se{
    font-family: var(--outra-fonte);
    font-weight: bold;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    color: var(--branco-principal);
    margin-bottom: 2em;
}
.input-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-login-usuario, .search-input, .input-login-senha, .input-cadastrar-email, .input-cadastrar-telefone, .input-cadastrar-confirmar, .input-cadastrar-modelo_onibus, .input-cadastrar-nome,
.input-cadastrar-usuario, .input-cadastrar-senha, .input-cadastrar-placa, .input-cadastrar-chassi, .input-cadastrar-capacidade, .input-cadastrar-descrição-ponto, 
.input-cadastrar-longitude, .input-cadastrar-latitude, .input-cadastrar-ponto {
   font-family: var(--outra-fonte);
   height: 2.8em;
   border-radius: 15px;
   padding-left: 1em;
   width: 80%;
   border: none;
   background-color: var(--branco-principal);
}
.input-login-senha, .search-input, .input-login-usuario, .input-cadastrar-email, .input-cadastrar-telefone,.input-cadastrar-nome, .input-cadastrar-usuario, .input-cadastrar-senha, 
.input-cadastrar-placa, .input-cadastrar-chassi, .input-cadastrar-capacidade, .input-cadastrar-modelo_onibus, .input-cadastrar-latitude, .input-cadastrar-longitude, .input-cadastrar-descrição-ponto, 
.input-cadastrar-ponto {
    margin-bottom: 1em;
}
.input-login-senha, .input-cadastrar-confirmar{
    margin-bottom: 3.5em;
}
.button-login {
    background-color: #ffffff;
    color: var(--verde-principal);
    text-decoration: none;
    padding: 16px;
    border-radius: 15px;
    margin: 8px 0; 
    display: block;
    width: 50%; 
    text-align: center;
    font-family: var(--fonte-coringa);
    font-weight: bold;
    outline: none;
}
.button-cadastrar {
    background-color: var(--branco-principal);
    color: var(--verde-principal);
    text-decoration: none;
    padding: 18px;
    border-radius: 15px;
    border: none;
    margin: 8px 0; 
    display: block;
    width: 50%; 
    text-align: center;
    font-family: var(--fonte-coringa);
    font-weight: bold;
    outline: none;
    font-size: 0.888em
}

/*aceitartermos.html e acessarconta.html*/

.logo-termos{
    margin-top: 3.5em;
    scale: 1.5;
}
.termos{
    margin-top: 5em;
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 2em;
    color: var(--branco-secundario);
}
.button-termos{
    background-color: var(--preto-botoes);
    color: var(--branco-secundario);
    text-decoration: none;
    padding: 18px;
    border-radius: 15px;
    margin: 8px 0; 
    display: block;
    width: 50%; 
    text-align: center;
    box-shadow: 3px 3px 6px 0 rgb(88, 83, 83);
    font-family: var(--fonte-coringa);
    font-weight: bold;
    outline: none;
    font-size: 0.888em;
    margin-top: 4em;
}
.button-acessar{
    background-color: var(--preto-botoes);
    color: var(--branco-secundario);
    text-decoration: none;
    padding: 18px;
    border-radius: 15px;
    display: block;
    width: 100%; 
    text-align: center;
    box-shadow: 3px 3px 6px 0 rgb(88, 83, 83);
    font-family: var(--fonte-coringa);
    font-weight: bold;
    outline: none;
    font-size: 0.888em;
    margin-top: 2em;
    margin-bottom: 1em;
}
.saudacao{
    margin-top: 3em;
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    text-align: center;
    color: var(--branco-secundario);
}
.nome-acessar{
    margin-top: 3em;
    font-family: var(--fonte-principal);
    font-size: 1.2em;
    text-align: center;
    color: var(--branco-secundario);
}

/* Cadastros?? */

.input-cadastrar-nome{
    font-family: var(--outra-fonte);
    height: 2.8em;
    border-radius: 15px;
    padding-left: 1em;
    width: 80%;
    border: none;
    background-color: var(--branco-principal);
    margin-top: 50px;
}

.paradas {
    font-family: var(--outra-fonte, Arial);
    font-weight: bold;
    /* text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5); */
    font-size: 20px;
    color: var(--branco-principal, #fff);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.imagem-parada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0; /* Remova o padding à esquerda */
    height: 75px;
    width: 75px;
}

.selecionar_parada_button {
    background-color: #000000;
    color: var(--verde-principal);
    text-decoration: none;
    padding: 6px;
    border-radius: 15px;
    margin: 8px 0; 
    display: block;
    width: 40%; 
    text-align: center;
    font-family: var(--fonte-coringa);
    font-weight: bold;
    outline: none;
    margin-top: 350px;
    font-size: small;
    color: #a1a1a1;
}

.informacoes {
    margin-left: 15px;
}

.imagem_homem-parada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0; /* Remova o padding à esquerda */
    height: 45px;
    width: 30px;
    background-color: #f0f0f0; /* Fundo cinza claro */
    padding: 10px; /* Diminui o espaçamento interno */
    border-radius: 8px; /* Arredonda as pontas da caixa */
}

.class_universidade {
    font-family: var(--outra-fonte, Arial);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90%; /* Limita a largura máxima à largura da tela */
    box-sizing: border-box; /* Inclui o padding na largura total */
    background-color: white; 
    font-size: 14px;
    border-radius: 15px;
    padding: 5px;
    overflow-wrap: break-word; /* Quebra as palavras longas */
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.imagem_homem-plaquinha {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0; /* Remova o padding à esquerda */
    height: 40px; /* Diminui a altura da caixa */
    width: 45px; /* Diminui a largura da caixa */
    background-color: #f0f0f0; /* Fundo cinza claro */
    padding: 7px; /* Diminui o espaçamento interno */
    border-radius: 8px; /* Arredonda as pontas da caixa */
}

/*Home.css*/

.header{
    margin-left: 1em;
    color: var(--branco-principal);
}
.hamburger, .localizacao, .btn_localizacao{
    margin: -.33em 1em 1em 0em;
}
#hamburger{
    width: 26px;
    height: 23px;
}
.localizacao{
    max-width: 11em;
    font-family: var(--fonte-principal);
}
.btn_localizacao, .btn_localizar{
    background-color: var(--preto-botoes);
    color: var(--branco-secundario);
    padding: .25em .7em;
    border-radius: 15px;
    font-family: var(--fonte-principal);
    font-size: .6em;
    text-align: center;
    outline: none;
    border: none;
}
.main{
    background-color: var(--branco-secundario);
    height: 100%;
    font-family: var(--fonte-principal);
    padding-bottom: .1em;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    color: #ABABAB;
    background: none;
    border: none;
}
.cards_principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.3em 0;
    text-align: center;
}
.cards_principal>div>img{
    height: 70px;
    width: 70px;
    padding: .3em;
    background-color: var(--branco-principal);
    border-radius: 10px;
}
.cards_principal>div>p{
    color: var(--cinza-subtitulo);
    font-size: .6em;
}
.button-home{
    background-color: var(--verde-principal);
    color: var(--branco-principal);
    padding: 16px;
    border-radius: 15px;
    margin: 8px 0; 
    display: block;
    width: 80%; 
    text-align: center;
    box-shadow: 3px 3px 6px 0 rgb(88, 83, 83);
    font-size: .7em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    margin: 0 auto 1em auto;
}
.mapa{
    text-align: center;
    margin-bottom: 3em;
}
.trajetoimg-home, .parada-img-home{
    width: 75px;
    height: 75px;
}
.items{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 1em auto;
}
.item-image{
    background-color: var(--branco-principal);
    height: 50px;
    padding: 4px 19px;
    border-radius: 10px;
    margin: 0 .2em 0 0;
}
.item-info {
    background-color: var(--branco-principal);
    max-height: 58px;
    border-radius: 10px;
    padding: .1em;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.texto-localizar, .texto-universidade{
    font-size: 12px;
}
.texto-localizar{
    font-weight: bold;
}
.btn_localizar{
    margin-top: 3em;
    margin-left: 3.5em;
}
.textosss{
    width: 50%;
}

/*Menu lateral*/

.sidebar {
    background-color: #1FAD6F;
    background-image: url('../img/background_filter.png');
    height: 100%;
    width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
    opacity: 1;
}

.sidebar-titulo {
    color: var(--branco-principal);
    padding: 0 0 0 1em;
}

.lista {
    font-size: 1em;
    margin: 0 0 0 1em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.hamburger {
    font-size: 1em;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 26px;
    right: 20px;
    font-size: 1em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Trajetos.html */

.img-trajetos{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.img-trajetos-p{
    color:#FFFFFF;
    margin: 0px;
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    font-weight: bold;
}
.search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.item-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-trajeto{
    width: 35px;
    height: 35px;
}
.mapa>iframe{
    border-radius: 15px;
}

/* Cadastros */

#input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container {
width: 80%;
margin-left: 60px;
}
.espaço-lateral{
display: flex;
align-items: center;
justify-content: center;
}