{% extends 'template.html' %}
{% block conteudo%}
    <a href="#" class="goback" id="backButton"><img src="{{url_for('static', filename='img/goback.png')}}" alt="seta para voltar a home" title="Seta para voltar a home"></a>
    <div class="div-login">
        <h1 class="registre-se">Registre-se</h1>
    </div>
    <div class="input-login">
        <input type="text" name="text" placeholder="Nome completo" class="input-cadastrar-nome" required>
        <input type="text" name="username" placeholder="Usuário" class="input-cadastrar-usuario" required>
        <input type="email" name="email" placeholder="Email" class="input-cadastrar-email" required>
        <input type="tel" name="tel" placeholder="Telefone" class="input-cadastrar-telefone" required>
        <input type="password" name="password" placeholder="Senha" class="input-cadastrar-senha" required>
        <input type="password" name="password" placeholder="Confirmar senha" class="input-cadastrar-confirmar" required>
        <a href="{{url_for('aceite')}}" class="button-cadastrar">CRIAR CONTA</a>
    </div>
{% endblock%}