{% extends 'template.html' %}
{% block conteudo%}
    <header class="header">
        <div class="hamburger">
            <i class="bi bi-list" id="hamburger"></i>
        </div>
        <p class="localizacao">
            Para encontrar os melhores trajetos, <br>
            ative a sua localização
        </p>
        <div>
            <button class="btn_localizacao">Ativar localização</button>
        </div>
    </header>
    <main class="main">
        <div class="cards_principal">
            <a href="{{url_for('paradas')}}">
                <img src="{{url_for('static', filename='img/parada.png')}}" alt="parada">
                <p>Paradas</p>
            </a>
            <a href="{{url_for('trajetos')}}">
                <img src="{{url_for('static', filename='img/trajeto.png')}}" alt="trajeto">
                <p>Trajetos</p>
            </a>
        </div>
        <div>
            <a href="#" class="button-home">Selecione uma parada</a>
        </div>
        <div class="mapa">
            <iframe
                    width="85%"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA59pXtdF-nLEO7RsVkupiEo_1ekWDVNmA&q=Space+Needle,Seattle+WA">
            </iframe>
        </div>
        <div class="items">
            <div class="item-image">
                <img src="{{url_for('static', filename='img/user.png')}}" alt="">
            </div>
            <div class="item-info">
                <div>
                    <p class="texto-localizar">Recomendado</p>
                    <p class="texto-universidade">UNIVERSIDADE FEDERAL</p>
                </div>
                <div class="textosss">
                    <button class="btn_localizar">Localizar</button>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="item-image">
                <img src="{{url_for('static', filename='img/user.png')}}" alt="">
            </div>
            <div class="item-info">
                <div>
                    <p class="texto-localizar">Recomendado</p>
                    <p class="texto-universidade">ZANROSSO / ALTA FLORESTA</p>
                </div>
                <div class="textosss">
                    <button class="btn_localizar">Localizar</button>
                </div>
            </div>
        </div>
        {% block sidebar%}
            {% include 'sidebar.html'%}
        {% endblock%}
    </main>
{% endblock%}  

