{% extends 'template.html'%}
{% block conteudo%}
    <a href="#" class="goback" id="backButton"><img src="{{url_for('static', filename='img/goback.png')}}" alt="seta para voltar a home" title="Seta para voltar a home"></a>
    <div class="div-login">
        <h1 class="login">Login</h1>
    </div>
    <form action="{{url_for('autenticar')}}" class="input-login" method="post">
        <input type="text" name="username" placeholder="Usuário" class="input-login-usuario" required>
        <input type="password" name="password" placeholder="Senha" class="input-login-senha" required>
        <input type="submit" name="submit" class="button-login" value="Entrar">
    </form>
{% endblock%}