{% extends 'template.html'%}
{% block conteudo%}
    
    <header class="header">
        <div class="hamburger">
            <i class="bi bi-list" id="hamburger"></i>
        </div>
    </header>
    
    <img class="imagem-parada" src="{{url_for('static', filename='img/parada.png')}}" alt="logo da One bus" title="logo da One bus" class="logo-termos" height="50" width="50">
    
    <div class="div-login">
        <h1 class="paradas">PARADAS</h1>
    </div>
    
    <div class="parada-branco">
        <div class="input-login" style="position: relative;">
            <input type="text" name="text" placeholder="Pesquisar" class="input-cadastrar-nome" required>
            <a href="" class="selecionar_parada_button">SELECIONAR UMA PARADA</a>
            <img src="{{url_for('static', filename='img/Basemap image.png')}}" alt="mapa" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
        </div>
    </div>
    {% block sidebar%}
        {% include 'sidebar.html'%}
    {% endblock%}
{% endblock%}